* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	background-color: #f0f3fa;
}

a {
	color: inherit;
	text-decoration: none;
}

.ant-message {
	position: absolute;
	bottom: 40px !important;
	top: unset !important;
}

[class*="ant-popover-content"] {
	max-width: 450px;

	[class*="ant-popconfirm-message-text"] {
		width: calc(100% - 22px);
	}
}