.container {
	.header {
		display: flex;
		margin-bottom: 4px;
		align-items: center;
		justify-content: space-between;

		.title {
			margin-bottom: 6px;
		}
	}

	thead[class="ant-table-thead"] {
		th[class*="areaHeader"] {
			height: 10px;
			padding: 8px 8px 0 !important;
		}
	}
}